/*body font family*/
body{               
    font-family: 'Poppins', sans-serif;
}
/*top banner image*/
.banner-img{
    padding-bottom: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
}
.banner-text{
    padding-left: 50px;
}
/*hader background color*/
header {
    background-color: #f0fff0;
}
/*logo size*/
.logo {
    margin-top: 16px;
    height: 60px;
}
/*green button*/
.button {
    background-color: #21b573;
    padding: 11px 28px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
/*navbar navlink pogition*/
ul, li, a{
    padding-left: 25px;
}
/*navbar gackground*/
.navbar {
    background: none!important;
}
/*navlink font width*/
.nav-link {
    font-weight: 550;
}
/*top-banner text highlight*/
.text-highlight {
    color: #21b573;
}
/*top-banner p text color*/
.p-text {
    color: #fc5b27;
    font-size: large;
    font-weight: 490;
}
/*top-banner h1 text customize*/
.h1-text {
    font-size: 50px;
    font-weight: 700;
}
.p-text-grey {
    color: gray;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 35px;
}
.icon-img{
    height: 80px;
    align-items: center;
    margin-top: 50px;
    margin: 20px;
    margin-top: 60px;
}
h4{
    color: #413960;
}
h2{
    font-weight: bold;
    padding-bottom: 60px;
}
/*4 icon style*/
.icon1, .icon2, .icon3, .icon4{
    color: #413960;
    margin-bottom: 100px;
}
.icon1:hover{
    background-color: white;
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 10px;
}
.icon2:hover{
    background-color: white;
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 10px;
}
.icon3:hover{
    background-color: white;
    box-shadow: 5px 5px 50px lightgray;
    border-radius: 10px;
}
.icon4:hover{
    background-color: white;
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 10px;
}
.testimonial{
    padding-top: 100px;
    padding-bottom: 50px;
    font-weight: 700;
}
/*card style chang*/
.card{
    border: none;
    box-shadow: 5px 5px 50px lightgray;
    border-radius: 20px;
    padding: 18px;
}
/*card padding change*/
.card-padding{
    padding-top: 40px;
}
.card-button{
    color: white;
    background-color:#21b573;
    padding: 6px 25px;
    border-radius: 20px;
    text-decoration: none !important;
}
.testimonial-img{
    height: 140px;
}
.testimonial{
    padding-bottom: px;
    padding-left: 150px;
    padding-right: 150px;
    font-weight: bold;
}
/*responsive testimonial section*/
@media only screen and (max-width: 600px) {
    .testimonial{
      padding-left: 0;
      padding-right: 0;
    }
    .testimonial-img{
        padding-left: 35%;
        padding-right: 35%;
    }
  }
/*footer text section*/
section{            
    background-color: #282531;
    color: white;
    padding: 30px;
    padding-top: 50px;
}
footer, small{
    padding-top: 50px;
}
 /*footer text size*/
.footer-text{         
    font-size: small;
}